<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augmented">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- arcore -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity2" />
        <activity android:name=".OnboardingSlides" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".Register" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".Login" />
        <activity android:name=".SplashScrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".MakeupActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MakeupActivity2"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MakeupActivity3"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MakeupActivity4"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MakeupActivity5"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MakeupActivity6"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MakeupActivity7"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ScanResultActivity" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>